
input[type='text'], input[type='password'] { 
    background-color: #163340;
    border-bottom-color: grey;
    border-bottom-style: solid;
    border-bottom-width: 1px;

}


input[type='text']:focus, input[type='password']:focus { 
background-color: blueviolet;
  border-bottom-color: greenyellow;
}